:root {
    --primary-color: #031b88;
    --sky-blue: #0096D9;
    --pink-color: #fd5056;
    --dark-pink: #f50057;
    --light-color: white;
    --lighter-white-color: #f0f8ff;
    --dark-color: rgba(0, 0, 0, 0.87);
    --shadow-color: rgb(0 0 0 / 5%);
    --card-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    max-width: 2000px;
    margin: auto;
}

.font-14 {
    font-size: 1.4rem;
}

.font-15 {
    font-size: 1.5rem;
}

.font-sm {
    font-size: 1.6rem;
}

.font-lg {
    font-size: 2rem;
}

.font-xl {
    font-size: 2.3rem;
}

.padding-1 {
    padding: 1rem 0;
}

.padding-2 {
    padding: 1.2rem 0;
}

.padding-3 {
    padding: 1.3rem 0;
}

.padding-buttom-10 {
    padding-bottom: 3rem;
}

.list-style-none {
    list-style: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.flex-row {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.strikethrough {
    text-decoration: line-through;
}

.width-100 {
    width: 100%;
}

.width-100 {
    width: 100%;
}

.text-underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}


/* footer */

.footer-container {
    margin-top: 5rem;
    display: flex;
    padding: 1.2rem 2rem;
    background-color: var(--sky-blue);
    color: var(--lighter-white-color);
    justify-content: center;
    font-size: 3rem;
}

.footer-list-icon {
    margin-left: 2rem;
}

.footer-list-icon i {
    color: var(--lighter-white-color);
}

html {
    font-size: 62.5%;
}

@media screen and (max-width: 750px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 30%;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 20%;
    }
}

@media screen and (max-width: 170px) {
    html {
        font-size: 10%;
    }
}