/* Header  */

.header {
    display: flex;
    width: 100%;
    background: #0095da;
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    padding: 1rem 0;
    align-items: center;
    color: var(--light-color);
    top: 0;
    justify-content: space-between;
}

.header__btm__left {
    display: flex;
}

.search .custom__input {
    margin: 0;
}

.search button,
.search button:hover {
    background-color: var(--sky-blue);
    border-color: var(--light-color);
}

.color-white {
    color: var(--light-color);
}

.logo img {
    height: 3rem;
}


/* main content */

.banner-container {
    position: relative;
}

.image-overlay-text {
    position: absolute;
    top: 2rem;
    transform: translate(10%, 50%);
}

.image-overlay-text .fa-arrow-right {
    margin-left: 0.4rem;
}


/*  Category section */

.category__title {
    font-size: 3rem;
    margin: 1.2rem 0;
    font-weight: 900;
    text-align: center;
    color: var(--sky-blue);
}

.category {
    display: flex;
    justify-content: center;
}

.category__card {
    flex: 0 0 16%;
    border-radius: 0.5rem;
    background-color: var(--white);
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    box-shadow: 0 0.1rem 0.9rem 0.1rem var(--dark-grey);
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}