.wishlist__title {
    padding: 3rem;
    font-size: 1.9rem;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.product__item {
    padding: 1rem;
    flex: 0 0 25%;
}

@media screen and (max-width: 750px) {
    .product__item {
        flex: 0 0 25%;
    }
}

@media screen and (max-width: 450px) {
    .product__item {
        flex: 0 0 50%;
    }
}

.products .card__container {
    width: 100%;
}

.card-button {
    justify-content: space-between;
}